body {
  font-weight: bold;
  background-color: blue;
  box-sizing: border-box;
  padding: 0;
  margin-top: 20px;
  border: 0;
}

#logo {
  color: blue;
}
.card-body  {
  margin-left: 10px;
  margin-right: 10px;
}
/* .card-img-top {
  image: 0,1,0
} */
.card-img{
  width: 10px;
  height: 10px;

/*Scale down will take the necessary specified space that is 100px x 100px without stretching the image*/
   object-fit:scale-down;

}
.nav {
  background-color: orange;
  color: black;
}
.main {
  position: center;
}
.p {
  background-color: grey;
}
.ul {
  color: black
}
.footer {    
  text-align: center;
  position: absolute;
  color: white;
  bottom: 0;
  width: 100%;
  height: 60px;
  line-height: 60px;
  background-color: black;
}
  
  /* portfolio items */
  card-columns { column-count: 2; } 
  @media (max-width: 767px) {.ca.rd-columns {column-count: 1;}}

