body {
  background-color: orange;
}
#logo {
  color: blue;
}
.btn {
  background-color: #2196F3;
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
  outline: none;
}
.dropdown {
  position: absolute;
  display: inline-block;
}
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #2196F3;
  min-width: 160px;
  z-index: 1;
}
.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}
.dropdown-content a:hover {background-color: #ddd}

.dropdown:hover .dropdown-content {
  display: block;
}
.btn:hover, .dropdown:hover .btn {
  background-color: #0b7dda;
}
.img-container {
  float: left;
  width: 33.33%; /* three containers (use 25% for four, and 50% for two, etc) */
  padding: 5px; /* if you want space between the images */
}
.card-body  {
  margin-left: 10px;
  margin-right: 10px;
}
/* .card-img-top {
  image: 0,1,0
} */
.card-img{
  width: 10px;
  height: 10px;

/*Scale down will take the necessary specified space that is 100px x 100px without stretching the image*/
   object-fit:scale-down;

}
.nav {
  background-color: gray;
  color: black;
}
.main {
  position: center;
}
.p {
  background-color: grey;
}
.ul {
  color: black
}
.footer {    
  text-align: center;
  position: absolute;
  color: black;
  bottom: 0;
  width: 100%;
  height: 60px;
  line-height: 60px;
  background-color: black;
}
  
  
